
<%= form_with(model: @task, local: true) do |task| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
<div class="form-group"></div>
  <%= task.label :task_name %>
  <%= task.text_field :task_name %>
  <%= task.label :content %>
  <%= task.text_field :content %>
  <%= task.label :limit %>
  <%= task.date_field :limit %>
  <%= task.label :status %>
  <%= task.select :status,Task.statuses.keys, {include_blank: "今の状態は？"}  %>
  <%= task.label :priority %>
  <%= task.select :priority, Task.priorities.keys %>
  <%= task.submit "Create my account", class: "btn btn-outline-success btn-sm" %>
<% end %>
</div>
</form>