<h1>管理画面のユーザー</h1>
<%= form_with model: [:admin, @user], local: true do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.user_name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :admin %>
  <%= f.select :admin,[['管理者',true],['一般',false]] %>
  <%= f.submit "Create my account" %>
<% end %>
