<!DOCTYPE html>
<html>
  <head>
    <title>ManyoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="sticky-top">
   
      <% if logged_in? %>
      <p><%= link_to "Profile", user_path(current_user.id) %></p>
      <p><%= link_to "Tasks", tasks_path %></p>
        <% if current_user.admin == true %>
      <p><%= link_to "管理者専用", admin_users_path %></p>
      <% end %>
      <p><%= link_to "Logout", session_path(current_user.id), method: :delete %></p>
    <% else %>
      <p><%= link_to "Sign up", new_user_path %></p>
      <p><%= link_to "Login", new_session_path %></p>
    <% end %>
  </div>
    <%= yield %>
     <div class="footer">
     <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 1990-2022 DIVE INTO CODE Corp.</p>
    </div>
  </body>
</html>
