<!DOCTYPE html>
<html>
  <head>
    <title>ManyoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
     <div class="footer">
     <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 1990-2022 DIVE INTO CODE Corp.</p>
    </div>
  </body>
</html>
